@import "utils/_vars.sass"
@import "utils/_fonts.scss"
@import "utils/_libs.sass"
@import "utils/mixins/_mixins.sass"


/*!
 * =====================================================================================================
 * Custom styles
 */


html
	height: 100%


body
	font-size: $main-font-size
	height: 100%
	background-color: $white-color
	color: $main-font-color
	font-family: $main-font
	letter-spacing: 1px

h1, h2, h3, h4, h5, h6
	margin: 0 

ul, li 
	list-style-type: none
	margin: 0
	padding: 0


a
	text-decoration: none
	color: $main-font-color
	cursor: pointer

p
	margin: 0 

audio,
canvas,
iframe,
img,
svg,
video,
textarea
	vertical-align: middle 

textarea
	resize: none 

section
	position: relative
	padding: 115px 0


input,
select,
button,
textarea
	outline: none

input::placeholder,
textarea::placeholder
	color: $main-font-color


*, *:before, *:after
	box-sizing: border-box 

.wrapper-flex
	display: flex
	justify-content: space-between
	align-items: center


.content
	flex: 1 0 auto 

.container
	position: relative
	margin: 0 auto
	max-width: $content-size
	width: 97%

.gray-bg
	background-color: $bg-gray-color

.btn
	font-family: $medium-font
	text-align: center
	text-transform: uppercase
	padding: 15px 30px
	border: 1px solid $main-font-color
	transition: .4s
	min-height: 50px
	&:hover
		border: 1px solid $white-color
		background-color: $white-color
		box-shadow: 0 0 40px 2px rgba(0,0,0,0.15)

.section-info__title
	display: block
	text-transform: uppercase
	font-size: 46px
	font-family: $bold-font
	opacity: .8
	letter-spacing: 4px
	text-align: center
	margin-bottom: 80px
	&::before
		content: ""
		border: 2px solid $main-font-color
		display: block
		opacity: .8
		width: 63px
		margin: 0 auto 10px

.section-items
	flex-wrap: wrap





@import "modules/_all-modules.sass"


@import "utils/_media.sass"
