header
    .header
        a(href="javascript:void(0);").header-logo
            .logo-img
                img(src='/static/images/general/logo.png')
            span.logo-title OENRIQUE
            span.logo-subtitle UX/UI EXPERT
        nav.header-nav#headerNav
            ul.header-nav__list
                li
                    a(href="javascript:void(0);") menu
                li
                    a(href="javascript:void(0);") about
                li
                    a(href="javascript:void(0);") service
                li
                    a(href="javascript:void(0);") portfolio
                li
                    a(href="javascript:void(0);") contact



