header
    .header
        a(href="#").header-logo
            .logo-img
                img(src='/static/images/general/logo.png')
            span.logo-title OENRIQUE
            span.logo-subtitle UX/UI EXPERT
        nav.header-nav
            ul.header-nav__list
                li
                    a(href="#") menu
                li
                    a(href="#") about
                li
                    a(href="#") service
                li
                    a(href="#") portfolio
                li
                    a(href="#") contact



