header
    .header
        a(href="#").header-logo
            .logo-img
                img(src='static/images/general/logo.png')
            span.logo-title OENRIQUE
            span.logo-subtitle UX/UI EXPERT
        nav.header-nav
            ul.header-nav__list
                li
                    a(href="#about") about
                li
                    a(href="#services") services
                li
                    a(href="#skills") skills
                li
                    a(href="#portfolio") portfolio
                li
                    a(href="#contact") contact


        a(href="#my-menu").hamburger.hamburger--emphatic
            span.hamburger-box
                span.hamburger-inner
        nav.header-nav--mobile#my-menu(data="mmenu")
            ul.header-nav__list--mobile
                li
                    a(href="#about") about
                li
                    a(href="#services") services
                li
                    a(href="#skills") skills
                li
                    a(href="#portfolio") portfolio
                li
                    a(href="#contact") contact



