@import "../../utils/_vars"

.footer
  position: relative
  .bottom-bg-pic
    background: url('../images/general/footer-bg-pic.jpg') bottom right no-repeat
    background-size: cover
  .bottom-bg
    background-color: rgba(0,0,0,0.69)

    .container
      height: 788px

  .section-info
    padding-top: 115px
    color: $white-color
    &__title::before
      border-color: $white-color

  .feedback-form
    max-width: 770px
    width: 100%
    margin: 0 auto 57px
    display: flex
    flex-direction: column

  .feedback-form__line
    display: flex
    justify-content: space-between
    margin-bottom: 30px

  .feedback-form__input
    height: 60px
    padding: 12px
    width: 50%
    margin-right: 30px
    &:last-child
      margin-right: 0

  .feedback-form__text
    width: 100%
    min-height: 210px
    padding: 12px

  .feedback-form__line--button
    height: 50px
    margin: 0 auto
    position: relative
    &::after
      content: url('../images/general/arrow.png')
      position: absolute
      right: 47px
      bottom: 14px
      opacity: .82

  .feedback-form__btn
    font-family: $bold-font
    line-height: 50px
    text-transform: uppercase
    min-width: 166px
    padding: 0 17px 0 0
    border: none
    background-color: $white-color
    color: $main-font-color
    transition: .6s

  .feedback-form__line--button
    &:hover .feedback-form__btn
      background-color: rgba(0,0,0,0.5)
      color: rgba(255,255,255,0.5)
      box-shadow: 0 0 40px 2px rgba(255,255,255,0.8)
    &:hover::after
      content: url('../images/general/arrow-white.png')
      opacity: .5



  .footer-bottom
    &::before
      content: ""
      border: 1px solid $white-color
      background-color: $white-color
      display: block
      opacity: .8
      width: 100%
      margin-bottom: 24px

  .footer-bottom__social
    float: left


  .footer-bottom__social-links
    li
      display: inline-block
      margin-right: 9px
      background-color: $white-color
      width: 28px
      height: 28px
      text-align: center
      transition: .5s
      &:hover
        .svg-sprite-icon
          fill: $white-color

      a
        display: block
        width: 100%
        height: 100%

      .svg-sprite-icon
        width: 18px
        height: 28px
        fill: $main-font-color

  .footer-bottom__social-link--fb:hover
    background-color: $facebook-color
  .footer-bottom__social-link--tw:hover
    background-color: $twitter-color
  .footer-bottom__social-link--lin:hover
    background-color: $linkedin-color
  .footer-bottom__social-link--google:hover
    background-color: $google-color
  .footer-bottom__social-link--be:hover
    background-color: $behance-color
  .footer-bottom__social-link--drib:hover
    background-color: $dribbble-color

  .footer-bottom__text
    float: right
    color: $white-color
    font-size: 17px
    font-family: $logo-font
    font-weight: bold
    opacity: .9
    span
      line-height: 28px
