extends template/main

block variables
	- var title = 'Главная страница';
	- var pageClass = 'index-page';

block content
	include pages/index/section/_top-banner
	include pages/index/section/_about-me
	include pages/index/section/_services












