@import "../../utils/_vars"

.attainment
  padding: 60px 0
  .section-items
    align-items: flex-start
    justify-content: space-around

  .section-item
    text-align: center
    padding: 0 20px
    min-height: 172px
    width: 25%
    &__logo
      margin: 0 auto 30px
      width: 98px
      height: 98px
      line-height: 98px
    &__counter
      margin-bottom: 10px
      display: block
      font-size: 30px
      font-family: $bold-font
    &__description
      display: block
      font-size: 24px
      font-family: $medium-font
      width: 95%
      margin: 0 auto


