section.about
    .container
        .wrapper-flex
            .section-info
                span.section-info__title KNOW MORE ABOUT ME
                p.section-info__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                a(href="#").btn.section-info__btn DOWNLOAD MY CV
            .section-img
                img(src='/static/images/content/about/about_pic.jpg')

