section.attainment.gray-bg
    .container
        .section-items.wrapper-flex
            .section-item
                .section-item__logo
                    img(src='static/images/content/attainment/study.png')
                span.section-item__counter 120
                span.section-item__description User Research
            .section-item
                .section-item__logo
                    img(src='static/images/content/attainment/happiness.png')
                span.section-item__counter 310
                span.section-item__description IA And Wireframes
            .section-item
                .section-item__logo
                    img(src='static/images/content/attainment/delivery-complete.png')
                span.section-item__counter 510
                span.section-item__description User Testing
            .section-item
                .section-item__logo
                    img(src='static/images/content/attainment/cup.png')
                span.section-item__counter 720
                span.section-item__description Looks and Feel Design (UI)

