section.portfolio.gray-bg
    .container
        .section-info
            span.section-info__title Portfolio
        .section-items.wrapper-flex
            a(href="#").section-item
                .section-item__img
                    img(src='/static/images/content/portfolio/1.jpg')
            a(href="#").section-item
                .section-item__img
                    img(src='/static/images/content/portfolio/2.jpg')
            a(href="#").section-item
                .section-item__img
                    img(src='/static/images/content/portfolio/3.jpg')
            a(href="#").section-item
                .section-item__img
                    img(src='/static/images/content/portfolio/4.jpg')
            a(href="#").section-item
                .section-item__img
                    img(src='/static/images/content/portfolio/5.jpg')
            a(href="#").section-item
                .section-item__img
                    img(src='/static/images/content/portfolio/6.jpg')
        .section-btn
            a(href="#").btn Load More