section.portfolio.gray-bg#portfolio
    .container
        .section-info
            span.section-info__title Portfolio
        .section-items.wrapper-flex
            a(href="javascript:void(0);").section-item
                .section-item__img
                    img(src='static/images/content/portfolio/1.jpg')
            a(href="javascript:void(0);").section-item
                .section-item__img
                    img(src='static/images/content/portfolio/2.jpg')
            a(href="javascript:void(0);").section-item
                .section-item__img
                    img(src='static/images/content/portfolio/3.jpg')
            a(href="javascript:void(0);").section-item
                .section-item__img
                    img(src='static/images/content/portfolio/4.jpg')
            a(href="javascript:void(0);").section-item
                .section-item__img
                    img(src='static/images/content/portfolio/5.jpg')
            a(href="javascript:void(0);").section-item
                .section-item__img
                    img(src='static/images/content/portfolio/6.jpg')
        .section-btn
            a(href="javascript:void(0);").btn Load More