section.services.gray-bg#services
    .container
        .section-info
            span.section-info__title Services
        .section-items.wrapper-flex
            .section-item
                .section-item__logo
                    img(src='static/images/content/services_icon/user-research.png')
                span.section-item__description User Research
            .section-item
                .section-item__logo
                    img(src='static/images/content/services_icon/wireframes.png')
                span.section-item__description IA And Wireframes
            .section-item
                .section-item__logo
                    img(src='static/images/content/services_icon/user-testing.png')
                span.section-item__description User Testing
            .section-item
                .section-item__logo
                    img(src='static/images/content/services_icon/feel-design.png')
                span.section-item__description Looks and Feel Design (UI)
            .section-item
                .section-item__logo
                    img(src='static/images/content/services_icon/delivery.png')
                span.section-item__description Delivery
            .section-item
                .section-item__logo
                    img(src='static/images/content/services_icon/support.png')
                span.section-item__description Integration Support
