section.skills
    .container
        .section-info
            span.section-info__title My skills

        .chart
            .chart-Y
                .chart-Y__item
                    span 100%
                .chart-Y__item
                    span.hidden 90%
                .chart-Y__item
                    span 80%
                .chart-Y__item
                    span.hidden 70%
                .chart-Y__item
                    span 60%
                .chart-Y__item
                    span.hidden 50%
            .chart-img
                img(src='/static/images/content/skills/skills-chart.jpg')
            .chart-X
                .chart-X__item
                    img(src='/static/images/content/skills/xd-icon.png')
                .chart-X__item
                    img(src='/static/images/content/skills/ae-icon.png')
                .chart-X__item
                    img(src='/static/images/content/skills/ps-icon.png')
                .chart-X__item
                    img(src='/static/images/content/skills/ai-icon.png')