section.testimonials
    .container
        .section-info
            span.section-info__title Testimonials
        .section-body
            .section-body__info.wrapper-flex
                .section-body__img
                    img(src='/static/images/content/testimonials/pic.jpg')
                .section-body__description
                    .section-body__title Limara tusi
                    .section-body__subtitle CEO, RanDOM COMPANY
                    .section_body__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
            .section-body__dots