section.top-bg
    .container
        .top-banner__info
            h1.top-banner__title Luis Oenrique
            span.top-banner__subtitle User Experience / User Interface Expert
            .top-banner__buttons
                a(href="javascript:void(0);").btn.top-banner__button know more
                a(href="javascript:void(0);").btn.top-banner__button hire me
        .top-banner__bg
            img(src='static/images/general/header-bg-pic.png').bg-pic


