footer
    .footer
        .bottom-bg-pic
            .bottom-bg
                .container
                    .section-info
                        span.section-info__title Say Hello!
                    form.feedback-form
                        .feedback-form__line
                            input(type="text" name="name" placeholder="Name").feedback-form__input
                            input(type="text" name="email" placeholder="Email").feedback-form__input
                        .feedback-form__line
                            textarea(name="message" placeholder="Message").feedback-form__text
                        .feedback-form__line--button
                            input(type="submit" value="send").feedback-form__btn


