footer
    .footer#contact
        .bottom-bg-pic
            .bottom-bg
                .container
                    .section-info
                        span.section-info__title Say Hello!
                    form.feedback-form
                        .feedback-form__line
                            input(type="text" name="name" placeholder="Name").feedback-form__input
                            input(type="text" name="email" placeholder="Email").feedback-form__input
                        .feedback-form__line
                            textarea(name="message" placeholder="Message").feedback-form__text
                        .feedback-form__line--button
                            input(type="submit" value="send").feedback-form__btn
                    .footer-bottom
                        .footer-bottom__social
                            ul.footer-bottom__social-links
                                li.footer-bottom__social-link--fb
                                    a(href="javascript:void(0);")
                                        +icon('fb-logo')
                                li.footer-bottom__social-link--tw
                                    a(href="javascript:void(0);")
                                        +icon('tw-logo')
                                li.footer-bottom__social-link--lin
                                    a(href="javascript:void(0);")
                                        +icon('lin-logo')
                                li.footer-bottom__social-link--google
                                    a(href="javascript:void(0);")
                                        +icon('g-plus-logo')
                                li.footer-bottom__social-link--be
                                    a(href="javascript:void(0);")
                                        +icon('be-logo')
                                li.footer-bottom__social-link--drib
                                    a(href="javascript:void(0);")
                                        +icon('drib-logo')
                        .footer-bottom__text
                            span 2018 All Right Reserved

